@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Oxygen&family=PT+Serif:wght@700&family=Playfair+Display:ital@0;1&family=Tilt+Prism&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}
nav{
  width: 100%;
  position: sticky !important;
  left: 0;
  top:0;
  box-shadow: 0px 5px 8px rgba(0,0,0,.5);
  z-index: 10;
}
.navbar-brand{
  font-weight: 600;
}
.nav-link{
  color: white !important;
  border-bottom: 1px solid transparent;
}
.nav-link:hover{
  border-bottom: 1px solid white;
}
section{
  width: 100%;
  min-height: 100vh;
}
/*Home Section*/
#home{
  width: 100%;
  height: 100vh;
  background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(creating-rolling-out-effective-cyber-security-strategy.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
}
#home p{
  position: absolute;
  top: 50%;
  font-size: 70px;
  opacity: 0;
  animation: text 3s ease-in-out;
}
#home p:nth-child(1){
  animation-delay: 0s;
}
#home p:nth-child(2){
  animation-delay: 3s;
}
#home p:nth-child(3){
  animation-delay: 6s;
}
#home p:nth-child(4){
  animation-delay: 9s;
}
@keyframes text{
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
#home span{
  color: #20e90a
}

@media screen and (max-width:576px){
  #home p{
    font-size: 80px;
  }



}

/* About Section */
#about{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 247, 2);
}
.circle{
  width: 400px;
  height: 400px;
  background: rgb(228, 5, 5);
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 5px 12px rgba(0,0,0,.7);
  margin-bottom: 3%;
  margin-top: 8%;
  transition: 1s;
}

.circle img{
  position: absolute;
  height: 450px;
  top: -10%;
  left:7%;
  border-radius: 75%;
  filter: drop-shadow(0px 30px 15px rgba(0,0,0,.4));

}
.circle:hover{
  width: 700px;
  heigh: 400px;
  border-radius: 10px;
  transition: 1s;

}
.circle:hover img{
  position: absolute;
  top: -10%;
  left: 2%;
  transition: 1s;

}
.circle:hover .content{
  position: absolute;
  top: 15%;
  right: 0;
  color: white;
  width: 50%;
  opacity: 1;
  transition: 1s;
}
.circle .content{
  opacity: 0;
}

@media screen and(max-width:576px){

}
  
.circle{
  width: 400px;
  height: 400px;
  background: rgb(228, 5, 5);
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 5px 12px rgba(0,0,0,.7);
  margin-bottom: 3%;
  margin-top: 8%;
  transition: 1s;
}
.circle:hover img{
  position: absolute;
  top: -10%;
  left: 20%;
  transition: 1s;
}
.circle:hover{
  width:600px;
  height:1000px;
  border-radius: 10px;
  transition: 1s;
}
.circle:hover .content{
  position: absolute;
  top: 40%;
  right: 0;
  color: rgb(0, 0, 0);
  padding: 15px;
  width: 100%;
  opacity: 1;
  transition: 1s;
}
.circle .content{
  opacity: 0;
}

/* skill section */
#skills h1{
  padding-top: 5%;
 
  display: flex;
  justify-content: center;
  align-content: center;
  color: rgb(0, 0, 0);
}
#skills.container{
  margin-top: 6%;
  margin-bottom: 6%;
}
label{
  font-size: 20px;

}
.progress{
  height: 30px !important;
  box-shadow: 2px 4px 5px  rgb(8, 8, 8), -2px -2px 5px white;
}
.progress:hover{
  box-shadow: 2px 4px 5px  white, -2px -2px 5px rgb(8, 8, 8);
}

/* Project Section*/

#projects{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  background: linear-gradient(rgb(7, 180, 249),white);
}
.carousel{
  width: 100%;
  height: 80vh;
  box-shadow:  10px 20px 10px; rgba(0,0,0,.4);
}
iframe{
  width: 100%;
  height: 80vh;
}

@media  screen and (max-width: 576px){
     .carousel{
      width: 90%;
      height: 50vh;
      box-shadow:10px 20px 10px rgba(0,0,0,.4)
     }
}
frame{
  width: 100%;
  height: 50vh;
}

/*Pricing Section*/
#pricing{
  padding-top: 5%;

}
.card{
  margin-top: 15%;
}
.card:hover{
  box-shadow: 8px 8px 15px rgba(0,0,0,.4);
  transition: .2s;
}

/*Contanct section*/
#contact{
  padding-top: 7%;
  background-color: antiquewhite;
}

#contact iframe{
  box-shadow: 15px 20px 10px rgba(0,0,0,.4);
}
.email-link {
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.email-link:hover {
  box-shadow: r;
}
